/* Fonts */

html {
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: 'Futura', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-family: sans-serif;
    font-size: 1.25rem;
}


/* Nav Bar */

nav {
    display: inline;
    padding: 20px;
    background-color: white;
}

nav ul li {
    display: inline;
}

#milk-alt-title {
    font-family: 'Futura', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-item {
    font-family: sans-serif;
    font-size: 1rem;
}


/* Header */

header {
    display: inline;
    background-color: rgb(252, 228, 213);
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-size-adjust: auto;
}

.page-title {
    padding: 100px 50px;
    height: 500px;
    margin: auto;
    text-align: center;
}

.page-title h1 {
    padding-bottom: 20px;
    font-weight: bold;
}

header button {
    border: 4px, solid, white;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: rgb(252, 228, 213);
    font-family: 'Futura', sans-serif;
    font-size: 1.5em;
    margin: 10px;
}

header button:hover {
    border: 4px, solid, rgb(252, 228, 213);
    border-radius: 4px;
    padding: 10px 20px;
    background-color: rgb(117, 199, 199);
    font-family: 'Futura', sans-serif;
    color: white;
    font-size: 1.5em;
    margin: 10px;
}

header button:active {
    border: 4px, solid, rgb(252, 228, 213);
    border-radius: 4px;
    padding: 10px 20px;
    background-color: rgb(252, 196, 247);
    font-family: 'Futura', sans-serif;
    color: rgb(151, 55, 143);
    font-size: 1.5em;
    margin: 10px;
}


/* For all milk alternative sections */

section {
    min-height: 500px;
    align-items: flex-start;
}

ion-icon {
    font-size: 5rem;
}

section table {
    list-style: none;
    font-family: 'Futura', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    border-spacing: 20px;
    width: 70%;
    border-collapse: collapse;
    margin: auto;
}

section table tr th {
    font-size: 5rem;
}


/* Cow's Milk for about page */

.milkbreak {
    padding-top: 50px;
}

.milk {
    padding: 50px;
    background-color: rgb(255, 246, 246);
}

.milk div {
    align-items: center;
    text-align: center;
}

.milk ion-icon {
    color: rgb(85, 85, 85);
}

.milk table {
    color: rgb(85, 85, 85);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Almond Section */


/* The almonddiv fixes buttons overlap in mobile view */

.almonddiv {
    padding-top: 40px;
}

.almond {
    padding: 50px;
    background-color: rgb(145, 203, 229);
}

.almond div {
    align-items: center;
    text-align: center;
}

.almond img {
    margin-left: 0px;
    height: 700px;
}

.almond ion-icon {
    color: rgb(40, 135, 179);
}

.almond table {
    color: rgb(40, 135, 179);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Oat Section */

.oat {
    padding: 50px;
    background-color: rgb(188, 238, 184);
}

.oat div {
    align-items: center;
    text-align: center;
}

.oat ion-icon {
    color: rgb(93, 155, 89);
}

.oat table {
    color: rgb(93, 155, 89);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Rice Section */

.rice {
    padding: 50px;
    background-color: rgb(252, 196, 247);
}

.rice div {
    align-items: center;
    text-align: center;
}

.rice ion-icon {
    color: rgb(255, 128, 244)
}

.rice table {
    color: rgb(255, 128, 244);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Soy Section */

.soy {
    padding: 50px;
    background-color: rgb(215, 208, 247);
}

.soy div {
    align-items: center;
    text-align: center;
}

.soy ion-icon {
    color: rgb(165, 147, 245)
}

.soy table {
    color: rgb(165, 147, 245);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Coconut Section */

.coconut {
    padding: 50px;
    background-color: rgb(252, 228, 228);
}

.coconut div {
    align-items: center;
    text-align: center;
}

.coconut ion-icon {
    color: rgb(255, 142, 142)
}

.coconut table {
    color: rgb(255, 142, 142);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Footer */

footer {
    padding: 50px;
    background-color: rgb(211, 211, 211);
}


/* Waves */

.overlap {
    margin-top: -90px;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}


/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}


/*Shrinking for mobile*/

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 30px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    p {
        font-size: 1rem;
    }
    header button {
        border: 2px, solid, white;
        border-radius: 2px;
        padding: 5px 10px;
        background-color: rgb(252, 228, 213);
        font-family: 'Futura', sans-serif;
        font-size: 1em;
        margin: 5px;
    }
    header button:hover {
        border: 2px, solid, white;
        border-radius: 2px;
        padding: 5px 10px;
        background-color: rgb(252, 228, 213);
        font-family: 'Futura', sans-serif;
        font-size: 1em;
        margin: 5px;
        color: black;
    }
    header button:active {
        border: 2px, solid, white;
        border-radius: 2px;
        padding: 5px 10px;
        background-color: rgb(252, 228, 213);
        font-family: 'Futura', sans-serif;
        font-size: 1em;
        margin: 5px;
    }
    ion-icon {
        font-size: 4rem;
    }
    section table tr th {
        font-size: 3rem;
        padding: 20px;
    }
    section table {
        list-style: none;
        font-family: 'Futura', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        border-spacing: 20px;
        width: 70%;
        border-collapse: collapse;
        margin: auto;
    }

    .milkbreak {
        padding-top: 100px;
    }

}